.container {
  margin: 4rem auto 0;
  max-width: 900px;
  height: 30vh;
  display: grid;
  grid-template-columns: 50px 50px 1fr;
  gap: 1em;
  color: white;
}

.item {
  background: green;
}
